.table table {
    position: absolute;
    left: 4px;
    right: 4px;
    top: 4px;
    bottom: 4px;
    display: flex;
    flex-direction: column;
}

.table tbody {
    display: inline-block;
    overflow-y: auto;
}

.table thead tr {
    display: block;
}